<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>New Peep</h1>
    <form action="/home" method="POST">
      {% if errors %}
      <div class="t-errors">
        Your form contained these errors: {{ errors }}
      </div>
      {% endif %}
      <p>
        <label for="content">Peep Entry: </label>
        <input type="text" name="content" id="content">
      </p>
      <input type="submit" value="Post Peep">
    </form>
    <h1>Peeps Dashboard</h1>
    {% for post in posts%}
      <div>
        <b>Author:</b> {{usernames[loop.index0]}}
        <b>published on:</b> {{post.time_posted}}<br>
        <p class="t-content">{{post.content}}</p>
      </div>
    {% endfor %}
    <a href="/signup">Sign up to Chitter</a>
  </body>
</html>
