<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        {% if error_login %}
        <div class="t-errors">
          Error: {{ error_login }}
        </div>
        {% endif %}
        <p>
          <label for="email">Email</label>
          <input type="text" name= "email" id="email">
        </p>
        <p>
          <label for="password">Password</label>
          <input type="text" name="password" id="password">
        </p>
        <input type="submit" value="Log In">
      </form>
  </body>
</html>